.recipe{
    width: 1002px;
    height: 40px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #19191A;

    padding-left: 8px;
    border-bottom: 1px solid #EBF0F3;

    &:hover{
        background-color: #F9F9F9;
    }
    
    .recipe__container{
        display: grid;
        grid-template-columns: 1.5fr 0.75fr 0.75fr;
        grid-template-rows: 1fr;
        gap: 0px;
        grid-template-areas:
        ". . .";

        align-items: center;

        p.recipeCooked{
            color: #79797A;
        }

        .coockedCheck{
            padding-bottom: 8px;
            

            .coockedCheck__btn{
                width: 48px;
                height: 24px;
                background-color: #79797A;
                border-radius: 16px;
                display: flex;
                align-items: center;
                padding-left: 2px;
                transition: all 0.5s ease-in-out;

                .coockedCheck__circle{
                    width: 18px;
                    height: 18px;
                    background-color: #FFFFFF;
                    border-radius: 50%;
                    transition: all 0.3s ease-in-out;
                }
            }
            
            .active {
                background-color: #8DC63F;
                

                .coockedCheck__circle{
                    margin-left: 28px;
                }

            }
        }
    }
}

